<mat-card>
    <div class="flex flex-col items-center content-center mb-4">
        <img src="assets/peopleware-logo.png" width="500" alt="Peopleware logo" class="mb-4" />
    </div>

    <div class="flex flex-col grow items-center">
        <span data-cy="about_immutableBuild">
            <strong>Immutable Build:</strong> {{ configService.immutableBuild }}
        </span>
        <span data-cy="about_bookmarkableBuild">
            <strong>Bookmarkable Build:</strong> {{ configService.bookmarkableBuild }}
        </span>
    </div>
</mat-card>
