<!DOCTYPE html>
<!--
  ~ Copyright 2021 – 2021 PeopleWare
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an “AS IS” BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div class="flex items-center justify-center h-full flex-grow">
    <mat-card class="login-card">
        <mat-card-content class="flex flex-col align-middle content-center justify-center items-center">
            <img class="mb-5 rounded-md" src="assets/ppw-hashtag.png" width="96" height="96" />
            <h1>Energix</h1>

            <button class="w-3/4" mat-flat-button color="primary" data-cy="login" (click)="auth.login()">
                {{ 'account.log_in' | translate }}
            </button>
        </mat-card-content>
    </mat-card>
</div>
