<ppwcode-cru-app-frame
    [showProgressBar]="routerProgress$ | async"
    [showSidenav]="(auth.loggedIn$ | async) ?? false"
    [isMinimized]="false"
    [navListItems]="navItems"
    (searchChange)="search$.next($event)">
    <ng-container searchResults>
        <div *ngIf="searchResults$ | async as search" class="flex flex-col gap-medium">
            <div *ngFor="let resource of search.results" class="search-result" (click)="selectResource(resource)">
                <ng-container
                    ppwcodeCruDynamicMiniPresentation
                    [resource]="resource"
                    [type]="resource.type"></ng-container>
            </div>
        </div>
    </ng-container>
    <ng-container page>
        <div class="fill">
            <router-outlet></router-outlet>
        </div>
    </ng-container>
</ppwcode-cru-app-frame>
