<div class="flex flex-col content-center items-center grow" fxFill>
    <p *ngIf="auth.loggedIn$ | async; else login"><img src="assets/peopleware-logo.png" alt="PeopleWare logo" /></p>
</div>

<ng-template #login>
    <energix-login></energix-login>
</ng-template>
